In [1]:
a,b,c = 10,20,30

print(a)
print(b)
print(c)

10
20
30

In [3]:
a = 10,20,30  # **** what is the technique used that takes multiple values to a single varaible:  -> tuple
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [7]:
a = 100,   # telling the varibale that it can handle multiple values to a single variable
print(a)
print(type(a))

(100,)
<class 'tuple'>

In [4]:
## since tuple is an immutable data type we need to prove it:

In [9]:
# adding:

a = 10,20,30

a[3] = 100   # i am tring to create a new extra memory space and add value 100 into it

print(a)

TypeError: ignored

In [10]:
a = 10,20,30  # since there is no build-in function also to add the data

# index is not possible and there is no build-in function so adding data is not possible in tuple:

In [12]:
# Do delete is possible

a = (10,20,30)

del a[1]  # if it works we can say tuple is a mutable data type | but it won't work:

print(a)

TypeError: ignored

In [16]:
## Do replace is possible?

# tuple accepts any data type:


a = (10,12.54,"data")

a[2] = 500     # since replace is an option we can't directly decide techique is mutable or immutable

# since string is also an immutable for replacing in the same memory space we have build-in function in strings
# but coming to tuple there is no build-in function to replace in the same memory


print(a)

TypeError: ignored

In [17]:
# so by keeping all these things in mind we can say tuple is an immutable data type:

`since in tuple we have only 2-build-in functions`

- `count : used to count the number of occurences :`
- `Index : used to find the index which mentioned :`

In [20]:
# count
a = (20,50.55,"data",20)

print(a.count(20))

2

In [21]:
# index :

a = (20,50.55,"data",20)

print(a.index(50.55))

1

In [22]:
# index :

a = (20,50.55,"data",20)

print(a.index(20))

0

In [28]:
a = (20,50.55,"data",20,1000,2000,1500)
print(a[-3:])

(1000, 2000, 1500)

In [30]:
a = (20,50.55,"data",20,1000,2000,1500)
b = a[::-1]
print(b[:3])

(1500, 2000, 1000)